.Portfolio {
    width: 100%;
    height: auto;
    color: white;
    margin-bottom: 10vh;
}

.Portfolio h1, h3 {
    text-align: center;
}

.PortfolioTitle {
    padding: 0 10%;
}



.Portfolio img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;	
}

.PortfolioTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PortfolioCont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    padding: 5% 10% 10% 10%;
    height: auto;
}

.PortfolioSection{
    background-color: rgb(45, 45, 45);
    height: 200px;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transition-duration: 400ms;
    border-radius: 20px;
    z-index: 0;
}

.PortfolioSection:hover {
    scale: 110%;
}

.PortfolioBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}



.PortfolioBtns button {
    background: none;
    margin-bottom: 0;
    padding: 10px 32px;
    border: 0;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.PortfolioBtns button{
    border: 1px solid white;
}

.PortfolioBtns button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1050px) {
    .PortfolioCont {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 990px) {
    .Portfolio {
        height: auto;
        text-align: center;
    }
    .Portfolio h1:after {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        border: 2px solid #898989;
    }
}


@media (max-width: 825px) {
    .PortfolioCont {
        grid-template-columns: 1fr;
        /* height: auto; */
    }
    .Portfolio {
        height: 260vh;
    }
}