.Portfolio {
    width: 100%;
    /* height: 100vh; */
    color: white;
    /* border: 1px solid rgb(221, 0, 0);  */
    margin-bottom: 10vh;
}

.Portfolio h1, h3 {
    text-align: center;
}

.Portfolio img {
    width: 100%;
    height: 80%;
    border-radius: 20px;
    object-fit: cover;	
}

.PortfolioTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PortfolioCont {
    display: grid;
    /* grid-column: 3; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    /* margin-top: 4rem; */
    /* border: 1px solid white; */
    padding: 5% 10% 10% 10%;
    height: auto;
    /* overflow: scroll; */
}

.PortfolioSection{
    background-color: rgb(45, 45, 45);
    /* grid-column: 1/3; */
    /* grid-row: 1/3; */
    /* width: 200px; */
    height: 200px;
    /* z-index: 100%; */
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    /* margin-left: 100px; */
    transition-duration: 400ms;
    border-radius: 20px;
    z-index: 0;
}

.PortfolioSection:hover {
    scale: 110%;
}

.PortfolioBtns {
    display: flex;
    align-items: center;
    justify-content: center;
}



.PortfolioBtns button {
    background: none;
    /* width: 50%; */
    margin-bottom: 0;
    padding: 10px 32px;
    border: 0;
    color: white;
    /* margin: 10px; */
    cursor: pointer;
    transition: all 0.5s ease;
}

.PortfolioBtns button{
    border: 1px solid white;
}

.PortfolioBtns button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 1050px) {
    .PortfolioCont {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 825px) {
    .PortfolioCont {
        grid-template-columns: 1fr;
    }
}