.SocialLinks ul {
    flex-direction: column;
    margin-top: -35%;
    margin-left: 0;
    position: fixed;
    z-index: 1;
}

.SocialLinks li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    padding-right: 16px;
    padding-left: 16px;
    width: 180px;
    background-color: rgb(123, 123, 123);
    padding: 14px;
    margin-top: 2px;
    margin-left: -125px;
    transition-duration: 300ms;
    
}
.SocialLinks li:hover {
    margin-left: 0px;
    border-radius: 0 15px 15px 0;
    background-color: rgb(67, 65, 65);
}

.SocialLinks a {
    text-decoration: none;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
